.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginPage {
  display: flex;
  gap: 30%;
  background-color: bisque;
  align-items: center;
  justify-content: center;
  height: 1000px;
  border: 30px solid white;
  border-radius: 100px;
}

.login,
.register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  background-color: peru;
  border-radius: 18px;
}

.login input,
.login button,
.register input,
.register button {
  padding: 10px;
  font-size: 18px;
}

.toolbarLinks {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.toolbarLinks a {
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  color: black;
  background-color: mediumseagreen;
}

.auctionPage {
  margin-top: 40px;
}

.auctionPage a {
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  color: black;
  background-color: mediumseagreen;
}

.auction {
  display: flex;
  gap: 30px;
  padding: 70px;
  margin: 25px;
  border: 5px solid gray;
  overflow: auto;
  flex-wrap: wrap;
  background-color: beige;
}

.auction h1 {
  text-align: center;
  font-size: 70px;
}

.auctionItem {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  height: 350px;
  width: 350px;
}

.auctionItem img {
  height: 125px;
  width: 125px;
}

.addItemPage {
  background-color: rgb(148, 105, 89);
  padding: 100px;
  border-radius: 100px;
  margin: 25px 45px;
}

.addItemPage h1 {
  color: red;
  text-align: center;
  font-size: 70px;
}

.addItemForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 45px;
  align-items: center;
  background-color: rgb(148, 105, 89);
  padding: 100px;
  border-radius: 100px;
}

.addItemForm input,
.addItemForm button {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
}

.invalid {
  border: 5px solid red;
}

.singlePage .auctionItemSingle {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auctionItemSingle img {
  width: 250px;
  height: 250px;
}

.singlePage a {
  display: none;
}

.singlePage {
  padding: 50px;
  background-color: cornsilk;
  display: flex;
}

.otherSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.otherSide button,
.otherSide input {
  width: 20%;
  padding: 18px;
  font-size: 20px;
  text-align: center;
}

.bets {
  background-color: wheat;
  border-radius: 25px;
  padding: 15px;
  margin: 0;
}

.betsBox {
  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

.winner {
  background-color: mediumseagreen;
  padding: 25px;
  border-radius: 25px;
}
